{% set image = resize_image(path="/static/headshot.webp", width=275, height=275, op="scale") %}

<div class="grid-container">
    <img src="{{ image.url }}" />
    <p>👋 Hello! My name is Leo, I've been developing software professionally for over 5 years. Throughout my career I've worked across the stack, although I prefer the backend. I've had the opportunity to work in a few different industries, including Commercial Insurance, Health-tech, and Medical Device Compliance. If you'd like to read more about my skills and professional background, checkout my <a href="/resume">Resume</a>.</p>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
</style>