<!-- Huge thanks to the JetBrains team working on Writerside, a documentation IDE that I used for the tracking of requirements and planning.
    It's the tool that I used to generate this wonderful SVG tag. -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" contentStyleType="text/css"
    height="276px" preserveAspectRatio="none" style="width: 938px; height: 276px;"
    version="1.1" viewBox="0 0 938 276" width="938px" zoomAndPan="magnify">
    <defs></defs>
    <g>
        <g id="cluster_Tailscale">
            <rect fill="none" height="263" rx="2.5" ry="2.5" style="stroke: rgb(24, 24, 24); stroke-width: 1px;"
                width="535" x="7" y="7"></rect>
            <path d="M81,7 L81,16.4883 L71,26.4883 L7,26.4883 " fill="none"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path><text fill="#000000" font-family="sans-serif"
                font-size="14" font-weight="bold" lengthAdjust="spacing" textLength="64" x="10"
                y="21.5352">Tailscale</text>
        </g>
        <g id="cluster_Linode">
            <polygon fill="none" points="31,138,41,128,515,128,515,236,505,246,31,246,31,138"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></polygon>
            <line style="stroke: rgb(24, 24, 24); stroke-width: 1px;" x1="505" x2="515" y1="138" y2="128"></line>
            <line style="stroke: rgb(24, 24, 24); stroke-width: 1px;" x1="31" x2="505" y1="138" y2="138"></line>
            <line style="stroke: rgb(24, 24, 24); stroke-width: 1px;" x1="505" x2="505" y1="138" y2="246"></line><text
                fill="#000000" font-family="sans-serif" font-size="14" font-weight="bold" lengthAdjust="spacing"
                textLength="48" x="245" y="154.5352">Linode</text>
        </g>
        <g id="elem_phone">
            <rect fill="#F1F1F1" height="70.9766" rx="2.5" ry="2.5"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="147" x="379" y="41.51"></rect>
            <rect fill="#F1F1F1" height="10" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="15" x="506"
                y="46.51"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="504"
                y="48.51"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="504"
                y="52.51"></rect><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing"
                textLength="107" x="394" y="75.0452">Phone Interface</text>
            <line style="stroke: rgb(24, 24, 24); stroke-width: 1px;" x1="380" x2="525" y1="77.9983" y2="77.9983">
            </line><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="104"
                x="394" y="95.5334">Website or App</text>
        </g>
        <g id="elem_db">
            <path
                d="M47,178.01 C47,168.01 88.5,168.01 88.5,168.01 C88.5,168.01 130,168.01 130,178.01 L130,219.9866 C130,229.9866 88.5,229.9866 88.5,229.9866 C88.5,229.9866 47,229.9866 47,219.9866 L47,178.01 "
                fill="#F1F1F1" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;"></path>
            <path d="M47,178.01 C47,188.01 88.5,188.01 88.5,188.01 C88.5,188.01 130,188.01 130,178.01 " fill="none"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;"></path><text fill="#000000"
                font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="63" x="57"
                y="205.5452">Database</text><text fill="#000000" font-family="sans-serif" font-size="14"
                lengthAdjust="spacing" textLength="53" x="61" y="222.0334">(SQLite)</text>
        </g>
        <g id="elem_dbapi">
            <rect fill="#F1F1F1" height="46.4883" rx="2.5" ry="2.5"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="129" x="190" y="171.76"></rect>
            <rect fill="#F1F1F1" height="10" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="15" x="299"
                y="176.76"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="297"
                y="178.76"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="297"
                y="182.76"></rect><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing"
                textLength="89" x="205" y="205.2952">Database API</text>
        </g>
        <g id="elem_web">
            <rect fill="#F1F1F1" height="46.4883" rx="2.5" ry="2.5"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="93" x="406" y="171.76"></rect>
            <rect fill="#F1F1F1" height="10" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="15" x="479"
                y="176.76"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="477"
                y="178.76"></rect>
            <rect fill="#F1F1F1" height="2" style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="4" x="477"
                y="182.76"></rect><text fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing"
                textLength="53" x="421" y="205.2952">Website</text>
        </g>
        <g id="elem_dv">
            <rect fill="#F1F1F1" height="22.4883" rx="2.5" ry="2.5"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="87" x="586" y="183.76"></rect><text
                fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="67" x="596"
                y="200.2952">Data View</text>
        </g>
        <g id="elem_scn">
            <rect fill="#F1F1F1" height="36.4883" rx="2.5" ry="2.5"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;" width="75" x="592" y="58.76"></rect><text
                fill="#000000" font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="55" x="602"
                y="82.2952">Scanner</text>
        </g>
        <g id="elem_Reads">
            <polygon fill="#F1F1F1" points="815,77,794.5,63.76,753.5,63.76,733,77,753.5,90.24,794.5,90.24,815,77"
                style="stroke: rgb(24, 24, 24); stroke-width: 0.5px;"></polygon><text fill="#000000"
                font-family="sans-serif" font-size="14" lengthAdjust="spacing" textLength="41" x="753.5"
                y="82.2952">Reads</text>
        </g>
        <g id="elem_tree">
            <image height="48" width="48" x="885"
                xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACCUlEQVR4Xu2ZzY3CMBCF0wIlUAIlIG0DlEAJlMBtr5RACZTAfS+UQAlUkNVbydHwXuL4Z1iwlMMnhZd4PDP2DCZ0j8ejaxkRWkOE1hChNUT4JO73+9ftdvtm7DMy6F2cz+d+v9/3m82m77ouCp4N48TQf4Jswml2cI7L5fL+AEocD9htJIZfDbK3Wq3EqRysPZnglZxOJ3EmF9SItTlcYEm32+0ou92uPx6Pf8WDzsCOpYDx7EwJsGPtDhcp1R/As8gmOzkFAmcbpUy2UWSaH54De5kzwlyv1x8eVwp8ZPvDxeFwkAGprNfrHo6ycYB7/HwpY3MMFx7LzKvhUbSBsew/BYDi5EEloBnYCXJqK8ZU83j64DWZDQIT1/Z9e3Rgnj54LrntUjXbk7clI0Jttiy25ZV0OTQW9o8RwXMV7LdmbjtN/Z4RAXjVArD7N2UVYi15DBEAlp4NlwKHgl0c5Ph+AFs3NesWEQI1hcfYjPK93GMJI4LFqx5sW4VNdBasxlRvz0EExmMl7DbyRoQxsAVqzzQe2R5DhBg1Bz77O9YTEeZAJkt+z9YUagwRcsh5FfKRATDhRRQ7D+bONKWI4AE7vwQQQQQP2PklgAgieMDOLwFEEMEDdn4JIIIIHrDzSwARRPCAnW8ugLFXM00c5gI4++M/hUDK+51SRGgNEVpDhNYQoTVEaI1fdJ8OBGKJucsAAAAASUVORK5CYII="
                y="53"></image>
        </g>
        <g id="link_db_dbapi">
            <path d="M130.46,198 C148.39,197.56 169.85,197.04 189.79,196.55 " fill="none" id="db-dbapi"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_dbapi_phone">
            <path d="M294.69,171.4 C322.51,154.66 360.36,131.87 391.9,112.88 " fill="none" id="dbapi-phone"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_dbapi_web">
            <path d="M319.41,195 C347.56,195 380,195 405.68,195 " fill="none" id="dbapi-web"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_phone_scn">
            <path d="M526.45,77 C548.96,77 572.79,77 591.75,77 " fill="none" id="phone-scn"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_scn_Reads">
            <path d="M667.2,77 C687.07,77 711.68,77 732.16,77 " fill="none" id="scn-Reads"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_Reads_tree">
            <path d="M815.63,77 C834.57,77 856.84,77 874.76,77 " fill="none" id="Reads-tree"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
        <g id="link_web_dv">
            <path d="M499.48,195 C526.11,195 559.43,195 585.53,195 " fill="none" id="web-dv"
                style="stroke: rgb(24, 24, 24); stroke-width: 1px;"></path>
        </g>
    </g>
</svg>