<h3>Skills</h4>

<div class="grid-container">
    <div>
        <h4>Programming</h4>
        <ul>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Node.JS</li>
            <li>React (+ React Native)</li>
            <li>Rust</li>
            <li>C#</li>
            <li>.NET</li>
            <li>Java</li>
            <li>PHP</li>
            <li>Clojure</li>
        </ul>
    </div>
   <div>
        <h4>Operations</h4>
        <ul>
            <li>Bash</li>
            <li>Linux Administration</li>
            <li>Docker/LXC/Podman</li>
            <li>Git/Github/Gitlab</li>
            <li>CI/CD</li>
            <li>Nix/NixOS</li>
            <li>Serverless</li>
            <li>AWS</li>
            <ul>
                <li>EC2, Lambda, SNS, SQS, IAM, Code Artifact, etc</li>
            </ul>
            <li>Terraform</li>
            <li>Ansible</li>
        </ul>
   </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
</style>